data/julia2018_resting/connectivity_*.nc filter=lfs diff=lfs merge=lfs -text
data/julia2018_resting/timeseries_*.nc filter=lfs diff=lfs merge=lfs -text
data/gordon2014/*.nii filter=lfs diff=lfs merge=lfs -text
