# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
scipy
pandas
seaborn
pytest
pytest-plt
flake8
pep8-naming
flake8-todo
nipype
fmriprep-docker
pybids
networkx
bokeh
visbrain
# dicom2nifti     # use dcm2niix instead for sidecars
# dcm2niix        # use conda
nilearn
