scipy
pandas
seaborn
pytest
pytest-plt
tox
flake8
pep8-naming
flake8-todo
# nipype          # use conda
# dicom2nifti     # use dcm2niix instead for sidecars
fmriprep-docker
pybids
networkx
bokeh
visbrain
